<table id="datatable" class="display compact table table-striped table-bordered">
                                                <thead>
                                                    <tr> 
                                                        <th>Category</th>
                                                        <th>Name</th>
                                                        <th>Price</th>
                                                        <th>Size</th>
                                                        <th>Quanity</th>
                                                        <th>Colors</th>
                                                        <th>Image</th>
                                                        <th>Date uploaded</th>
                                                        <th>Action</th>
                                                        <th>Delete</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <% products.forEach( function(product) { %>
                                                         <tr>
                                                        <td><%= product.category %></td>
                                                        <td><%= product.Name %></td>
                                                        <td><%= "₦"+Number(product.price).toLocaleString("en-us") %></td>
                                                        <td>
                                                            <% if (product.sizes && product.sizes.length) { %>
                                                                    <%= product.sizes.join(",") %>
                                                            <% }else{%>
                                                                 <span>Sizes not available</span>
                                                           <% } %>
                                                        </td>
                                                        <td><%= Number(product.quantity) %></td>
                                                        <td>
                                                            <% if (product.color && product.color.length) { %>
                                                                <%= product.color.join(" , ") %>
                                                         
                                                        <% }else{ %>
                                                                <span>Color not available</span>
                                                       <% } %>
                                                    </td>
                                                     <td style="width: 20%;">
                                                        <center><img src="uploads/<%= product.image %>" class="image-fluid resizeImage" alt="<%= product.name %>" ></center>
                                                     </td>
                                                     <td><%= product.createdAt %></td>
                                                     <td>
                                                        <button type="button" class="btn btn-primary">edit</button>
                                                     </td>
                                                     <td>
                                                        <button type="button" class="btn btn-danger">Delete</button>
                                                     </td>
                                                    </tr>
                                                     <td><span class="badge badge-success-inverse">Active</span></td>
                                                        <td> <a class="mr-3" href="javascript:void(0);"><i class="fe fe-edit"></i></a><a href="javascript:void(0);"><i class="fe fe-trash-2"></i></a></td>
                                                    <% }) %>
                                                   
                                                    
                                                   
                                                   
                                                </tbody>
                                                <tfoot>
                                                    <tr>
                                                       <th>Category</th>
                                                        <th>Name</th>
                                                        <th>Price</th>
                                                        <th>Size</th>
                                                        <th>Quanity</th>
                                                        <th>Colors</th>
                                                        <th>Image</th>
                                                        <th>Description</th>
                                                        <th>Date uploaded</th>
                                                    </tr>
                                                </tfoot>
                                            </table>





                                            <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="exampleInputEmail1">Product Cateogry</label>
                                                <input type="text" id="productCategory" class="form-control"
                                                    id="exampleInputEmail1" aria-describedby="emailHelp"
                                                    placeholder="Enter category" readonly>
                                                
                                            </div>

                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="exampleInputPassword1">Product Name</label>
                                                <input type="text" id="productName" class="form-control"
                                                    id="exampleInputPassword1" placeholder="Enter product Name"
                                                    readonly>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="exampleInputEmail1">Product Price</label>
                                                <input type="number" id="productPrice" class="form-control"
                                                    id="exampleInputEmail1" aria-describedby="emailHelp"
                                                    placeholder="Enter  Price" required>
                                                <small id="emailHelp" class="form-text text-muted">We only accept
                                                    Naira.</small>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="exampleInputEmail1">Product Size</label>
                                                <div class="col-md-12">
                                                    <div class="input-group mb-3">
                                                        <input type="text" class="form-control" id="sizeInput"
                                                            style="margin-left: -3.5%;" placeholder="Enter Size"
                                                            aria-label="aize" aria-describedby="basic-addon2">
                                                        <div class="input-group-append">
                                                            <span class="input-group-text" id="basic-addon2">Add
                                                                Size</span>
                                                        </div>

                                                    </div>
                                                    <small id="emailHelp" class="form-text text-muted"
                                                        style="margin-left:-3.5%">Product sizes can either be in numeric
                                                        or alphabets </small>
                                                </div>
                                                <div class="col-md-6">
                                                    <ul id="previewSizes"></ul>
                                                    <div id="sizesContainer"></div>
                                                </div>


                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="exampleInputEmail1">Product Quantity</label>
                                                <input type="number" id="productQuantity" class="form-control"
                                                    id="exampleInputEmail1" aria-describedby="emailHelp"
                                                    placeholder="Enter  Quantity" required>
                                                <small id="emailHelp" class="form-text text-muted">Alphabets are not
                                                    allowed when inputing product Quantity.</small>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="exampleInputEmail1">Product Color</label>
                                                <div class="col-md-12">
                                                    <div class="input-group mb-3">
                                                        <input type="text" class="form-control" id="colorInput"
                                                            style="margin-left: -3.5%;" placeholder="Enter Color"
                                                            aria-label="aize" aria-describedby="basic-addon2">
                                                        <div class="input-group-append">
                                                            <span class="input-group-text addColor"
                                                                id="basic-addon2 ">Add Color</span>
                                                        </div>

                                                    </div>
                                                    <small id="emailHelp" class="form-text text-muted"
                                                        style="margin-left:-3.5%">Product Colours should only be written
                                                        in alphabets </small>
                                                </div>
                                                <div class="col-md-6">
                                                    <ul id="previewColor"></ul>
                                                    <div id="colorContainer"></div>
                                                </div>


                                            </div>
                                        </div>
                                        <div class="col-md-12">

                                            <div class="form-group">
                                                <label for="exampleInputEmail1">Upload image of product</label>
                                                <div class="input-group">
                                                    <div class="custom-file">
                                                        <input type="file" class="custom-file-input" id="image"
                                                            aria-describedby="inputGroupFileAddon04">
                                                        <label class="custom-file-label" for="inputGroupFile04">Choose
                                                            file</label>
                                                    </div>
                                                    <div class="input-group-append">
                                                        <span class="input-group-text"
                                                            id="inputGroupFileAddon04">Button</span>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label for="exampleInputEmail1">Product Description</label>
                                                <textarea class="form-control" id="productDescription"></textarea>
                                                <small id="emailHelp" class="form-text text-muted">Product description
                                                    should be not more than 500 words</small>
                                            </div>
                                        </div>



                                    </div>



                                    <button type="submit" class="btn btn-primary" style="margin-bottom:4%">Save
                                        Product</button>


                                        