<%- include('admin_template/header') %>
    <%- include('admin_template/aside') %>
        <!-- begin app-main -->
        <div class="app-main" id="main">
            <!-- begin container-fluid -->
            <div class="container-fluid">
                <!-- begin row -->
                <div class="row">
                    <div class="col-md-12 m-b-30">
                        <!-- begin page title -->
                        <div class="d-block d-sm-flex flex-nowrap align-items-center">
                            <div class="page-title mb-2 mb-sm-0">
                                <h1>Edit Profile</h1>
                            </div>
                            <div class="ml-auto d-flex align-items-center">
                                <nav>
                                    <ol class="breadcrumb p-0 m-b-0">
                                        <li class="breadcrumb-item">
                                            <a href="/Dashboard"><i class="ti ti-home"></i></a>
                                        </li>
                                        <li class="breadcrumb-item">
                                            <a href="/viewproducts">View Products</a>
                                        </li>
                                        <li class="breadcrumb-item active text-primary" aria-current="page">
                                            <%= locals.title %>
                                        </li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                        <!-- end page title -->
                    </div>
                </div>
                <!-- end row -->
                <!-- start-clients contant-->
                <div class="row">
                    <div class="col-12">
                        <div class="card card-statistics clients-contant">
                           <div id="msg"></div>
                            <div class="card-body py-0 table-responsive">
                                <form id="editProduct" enctype="multipart/form-data">
                                       
                                            <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="exampleInputEmail1">Product Cateogry</label>
                                                <input type="hidden" name="" id="productID" value="<%= product._id %>">
                                                <input type="text" id="productCategory" class="form-control"   aria-describedby="emailHelp" value="<%= product.category %>" readonly>
                                                
                                            </div>

                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="exampleInputPassword1">Product Name</label>
                                                <input type="text" id="productName" class="form-control"  value="<%= product.Name %>"readonly>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="exampleInputEmail1">Product Price</label>
                                                <input type="number" id="productPrice" class="form-control"
                                                    id="exampleInputEmail1" aria-describedby="emailHelp"
                                                    value="<%= product.price %>" required>
                                                <small id="emailHelp" class="form-text text-muted">We only accept
                                                    Naira.</small>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="exampleInputEmail1">Product Size</label>
                                                <div class="col-md-12">
                                                    <div class="input-group mb-3">
                                                        <input type="text" class="form-control" id="sizeInput"
                                                            style="margin-left: -3.5%;" value="<%= product.sizes.join(",") %>"
                                                            aria-label="aize" aria-describedby="basic-addon2">
                                                        

                                                    </div>
                                                   
                                                </div>
                                                


                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="exampleInputEmail1">Product Quantity</label>
                                                <input type="number" id="productQuantity" class="form-control"
                                                    id="exampleInputEmail1" aria-describedby="emailHelp"
                                                    value="<%= product.quantity %>" required>
                                                
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="exampleInputEmail1">Product Color</label>
                                                <div class="col-md-12">
                                                    <div class="input-group mb-3">
                                                        <input type="text" class="form-control" id="colorInput"
                                                            style="margin-left: -3.5%;" value="<%= product.color.join(",") %>"
                                                            aria-label="aize" aria-describedby="basic-addon2">
                                                       
                                                    </div>
                                                   
                                                </div>
                                                


                                            </div>
                                        </div>
                                        <div class="col-md-6">

                                            <div class="form-group">
                                                <label for="exampleInputEmail1">Upload image of product</label>
                                                <div class="input-group">
                                                    <div class="custom-file">
                                                        <input type="file" class="custom-file-input" id="image"
                                                            aria-describedby="inputGroupFileAddon04">
                                                        <label class="custom-file-label" for="inputGroupFile04">Choose
                                                            file</label>
                                                    </div>
                                                   
                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-md-6">


                                            <div class="form-group">
                                                <label for="exampleInputEmail1">Product Status</label>
                                                <div class="col-md-12">
                                                    <div class="input-group mb-3">
                                                        <input type="text" class="form-control" id="status"
                                                            style="margin-left: -3.5%;" placeholder="<%= product.status %>"
                                                            aria-label="aize" aria-describedby="basic-addon2">
                                                       
                                                    </div>
                                                   
                                                </div>
                                                


                                            </div>

                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label for="exampleInputEmail1">Product Description</label>
                                                <textarea class="form-control" id="productDescription"><%= product.description %></textarea>
                                                <small id="emailHelp" class="form-text text-muted">Product description
                                                    should be not more than 500 words</small>
                                            </div>
                                        </div>



                                    </div>



                                    <button type="submit" class="btn btn-primary" style="margin-bottom:4%">Update Product</button>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
                <!-- end-clients contant-->
            </div>
            <!-- end container-fluid -->
        </div>
        <!-- end app-main -->
        </div>
        <!-- end app-container -->
        <!-- begin footer -->
        <%- include('admin_template/footer') %>